html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#course-title {
    text-align: center;
    font-size: 28px;
    background-color: rgb(86, 85, 85);
    border: 5px solid rgb(193, 192, 192);
    border-radius: 32px;
    width: fit-content;
    padding: 10px 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 12px;
    align-items: center;
    padding: 8px 18px;
    background: rgb(193, 192, 192);
    border-radius: 32px;
    border: 5px solid rgb(86, 85, 85);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    font-style: italic;
    color: #244C24;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

section.card {

    gap: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto 20px auto;
}

section.card .me {
    width: 50%;
    height: auto;
    border-radius: 4px;
}

section.card .place_img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

section.card h2 {
    font-size: 20px;
    margin: 0;
}

section.card a {
    color: #4CAF50;
    display: inline-block;
    margin: 8px 4px;
    padding: 5px;
}

section.card a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #424242;
    font-size: 14px;
}